<div class="mui-slider">
  <div class="mui-slider-group mui-slider-loop">
     <div class="mui-slider-item mui-slider-item-duplicate" ng-click="banner(1)"><a><img ng-src="{{'http://www.kingwant.com'+li[1].ADV_IMAGE}}" /></a></div>
    <div class="mui-slider-item" ng-repeat="item in li" ng-click="banner($index)"><a><img ng-src="{{'http://www.kingwant.com'+item.ADV_IMAGE}}"/></a></div>
      <div class="mui-slider-item mui-slider-item-duplicate" ng-click="banner(2)"><a><img ng-src="{{'http://www.kingwant.com'+li[0].ADV_IMAGE}}" /></a></div>
  </div>

</div>
