<div  class="con-bg" style="{{ui}}">
  <div class="con-bg-head" drop>
    <a id="test1"  ng-touchstart="songkai()" ng-touchmove="songkai()"  ng-touchend="songkai()" ng-hide="test1" drag></a><a id="test2" ng-hide="test2" ng-touchstart="songkai()" ng-touchmove="songkai()"  ng-touchend="songkai()" drag ><span class="dl-b"></span><span class="dl-b"></span></a>
  </div>
  <div class="con-bg-co">
    <div class="bg-list ta-c"><div class="bg-li-co d-lb" style="background:url(image/bg-{{liff}}.png);background-repeat:no-repeat;background-position: center;"><img  id="yang" style="{{text}}" src="image/yang.png" alt=""><img id="yin" style="{{text1}}" src="image/yin.png" alt=""></div></div>
    <!-- <div class="bg-list"><div class="bg-li-co ta-c"><img src="image/bg-2.png" alt=""><img src="" alt=""></div></div>
    <div class="bg-list"><div class="bg-li-co ta-c"><img src="image/bg-3.png" alt=""><img src="" alt=""></div></div> -->
  </div>
</div>
