.fz{
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.tcz{
  .w(424);
  .h(280);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  right: 0;
  top:2.3467rem;
  ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      .h(93);
      .lh(93);
      color: #ffedd3;
      border-bottom: 2px solid #72706e;
      width: 92%;
      margin: 0 auto;
      a{
        width: 33.33%;
        display: inline-block;
        text-align: center;
      }
    }
    li:last-child{
      border-bottom: none;
    }
  }
}
.home-content{
  .home-bar{
    .h(65);
    .lh(65);
    background-color: rgb(238,238,238);
    font-size: 0;
    a{
      width: 33.33%;
      .h(65);
      .lh(65);
      text-align: center;
      display: inline-block;
      .fs(32);
      span{
        display: inline-block;
        width: 65%;

      }
    }
  }
  .home-list{
    text-align: center;

   img{
     display: inline-block;
     .p(20);
     .w(216);
     .h(216);
   }
  }
}
.home-active{
border-bottom: 3px solid #e7b266;
color: #e7b266;
}
