<div class="log-bg">
  <div class="log-icon" ng-click="back()"><img class="p-a zhuche-img" style="margin-top:0;" src="image/sj.png" alt=""></div>
  <img src="image/log.png" alt="log">
  <div class="zhuche">
  <span class="zhuche-text">国家和地区  中国</span>
  <a class="zhuche-ol">+86</a><input type="text" name="" ng-model="phone2"  placeholder="请输入电话号码">
</div>
<div class="zhuche">
<a class="zhuche-ol1" ng-click="zhuche1()">获取验证码</a><input type="text" name="" value="" ng-model="yzm" placeholder="请输入验证码">
</div>
<div class="zhuche">
<input type="text" name="" value="" ng-model="password1" placeholder="请输入新密码">
</div>
  <a class="zhuche-bt" ng-click="zhuche2()">确定注册</a>
</div>
</div>
